/* Partie 1: Styles pour la section principale des photographes */
.contenu-photographe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

/* Partie 2: Styles pour chaque article */
.contenu-photographe article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

/* Partie 3: Styles pour les liens */
.contenu-photographe article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

/* Partie 4: Styles pour les miniatures */
.photographe-miniature {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

/* Partie 5: Styles pour les noms */
.photographe-nom {
    font-family: DM Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    color :var(--color-tertiary); 
}
.photographe-location{
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color :var(--color-primary);
}
.photographe-description{
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: var(--color-dark);
    
}

/* Partie 6: Styles pour les prix */
.photographe-prix {
    color: var(--color-dark-medium);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

}

article a:focus{
    border: 2px solid black;
}

/* Partie 7: Styles responsifs */
@media screen and (max-width: 1040px) {
    .contenu-photographer article {
        width: 45%;
    }
}

@media screen and (max-width: 725px) {
    .contenu-photographers{
        margin-top: 30px;
        gap: 20px;
    }
    .contenu-photographers article {
        width: 100%;
    }
}
